.datePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.container {
  height: 40rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}
.image {
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  background-color: white;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
